/.local_files
.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
build/
dist/
docs/build/
docs/_build/
docs/_notebooks/
docs/jupyter_execute/
docs/.jupyter_cache/
*.egg-info/
.benchmarks/